body, p, a, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Great Vibes',serif;
}


/* Actual styles start here :D */
.parti {width: 100%;}

.home {
    position: relative;
    background: #ff6a00;
    overflow: hidden;
}
.home .bg {
    width: 100%;
    position: absolute;
    top:  0;
    left: 0;
    z-index: 0;
}
.home .bg0 {
    background: url(../img/repeatBg.jpg) repeat;
    animation: bg0 140s infinite linear;
}
@keyframes bg0 {
    0% {
        background-position: top 0 left 0;
    }

    100% {
        background-position: top 0 left -100%;
    }
}
.home .bg1 {
    background: url(../img/bg01.png) repeat-x bottom left;
    animation:  bg1 95s infinite linear;
}
.home .bg1, .home .bg2, .home .bg3 {
    top:  auto;
    bottom:  -80px;
    opacity: 0.8;
}
@keyframes bg1 {
    0% {
        background-position: bottom 0 left 0;
    }

    100% {
        background-position: bottom 0 left -100%;
    }
}
.home .bg2 {
    background: url(../img/bg02.png) repeat-x bottom left;
    animation:  bg2 55s infinite linear;
}
@keyframes bg2 {
    0% {
        background-position: bottom 0 left 0;
    }

    100% {
        background-position: bottom 0 left -100%;
    }
}
.home .bg3 {
    background: url(../img/bg03.png) repeat-x bottom left;
    animation:  bg3 25s infinite linear;
}
@keyframes bg3 {
    0% {
        background-position: bottom 0 left 0;
    }

    100% {
        background-position: bottom 0 left -100%;
    }
}
.top {
    color:  #808080;
    text-align: center;
    margin-top: 5%;
    padding: 50px;
    position: relative;
    z-index: 5;
}
.top h1 {
    margin: 0 0 17px 0;
    padding: 0;
    font-size: 72px;
    color: #ff6a00;
}
.top p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase
}
.top p span {
    font-size: 18px;
    color:  #808080;
    border-bottom: 1px dotted #808080;
    cursor: help;
    transition: all 0.5s;
}
.top p span:hover {
    color: #bbb;
}
.top p span span.tooltip {
    position: absolute;
    bottom: -252%;
    left:  0;
    display: block;
    /*width: 270px;*/
    opacity:  1;
    padding:  10px 15px;
    background: #333;
    color:  #ff6a00;
    font-size: 11px;
}
.top p span span.tooltip:before {
    content: "";
    position: absolute;
    top: -14px;
    left:  0;
    border-top: 7px solid rgba(0,0,0,0);
    border-left: 7px solid rgba(0,0,0,0);
    border-right: 7px solid rgba(0,0,0,0);
    border-bottom: 7px solid #333;
}
.divider, .bottom {
    position: relative;
    max-width: 699px;
    margin:  0 auto;
    z-index: 5;
}
.bottom .tag {
    margin:  20px 0;
    color:  #cc285a;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
}


.navbar {
    max-width: 698px;
    margin: 0 auto;
    padding:  0;
    border-radius:  0;
    margin-top:  105px;
}
.navbar .container-fluid {
    /*margin-left:  -15px;*/
}
.container-fluid > .navbar-collapse {
    margin-left:  -15px;
    margin-right:  -15px;
}
.navbar-collapse {
    padding:  0;
    margin:  0;
}
.navbar-default {
    background: none;
    border:  none;
}
/*.navbar-ddefault .navbar-nav li a {
    position: relative;
}*/
/*@media(min-width: 768px) {*/
.navbar-default .navbar-nav > li > a {
    background: #cc285a;
    color:  #fff;
    font-size:  13px;
    padding:  20px 42px;
    z-index: 0;
    position: relative;
    transition: all 0.5s;
    }
.navbar-default .navbar-nav li a span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -90px;
    opacity: 0;
    color:  #000;
    text-align: center;
    font-size: 12px;
    text-transform: lowercase;
    transition: all 0.5s;
}
.navbar-default .navbar-nav li a i.bigNa {
    display: block;
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: -100px;
    left:  0;
    right: 0;
    opacity: 0;
    transform: scale(0,0);
    transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover {
    padding: 20px 42px 45px 42px;
    background: url(../img/repeatBg..png) top 25px center #bf1e4f;
    color: #fff;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 1px #CC285A;
    z-index: 5;
    }
.navbar-default .navbar-nav > li > a:hover span {
    opacity: 1;
    bottom: 10px;
    }
.navbar-default .navbar-nav li a:hover i.bigNa {
    opacity: 1;
    top: -55px;
    color: #cc285a;
    transform: scale(1.5,1.5);
    }
.navbar-default .navbar-nav > .active > a {
    background: url(../img/repeatBg..png) #cc285a;
    color:  #fff;
    }
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #bf1e4f;
    color: #fff;
    }
/*}*/

@media(max-width: 767px) {
.navbar {
    position: fixed;
    margin-top: 0;
    top:  25px;
    right:  25px;
    z-index: 99;
}
}